<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <h1 class="navbar-brand bancoPan" href="#bancopan">Banco Pan</h1>
</nav>

<div class="container mb-5 mt-5 ">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button type="button" class="btn btn-adcUser btn-lg mb-5" routerLink="/cadastro-modal" >Adicionar usuário</button>
            <i class="fa-regular fa-circle-plus"></i>
        </div>
    </div>

    <div class="card style-card mb-3" *ngFor="let c of usuarios">
        <div class="card-body " >
            <h5 class="card-title fonte-name">{{c.name}}</h5>
            <p class="card-text mt-3 "><span class="font-details">CPF: </span>{{c.cpf}}</p>
            <p class="card-text"><span class="font-details">Telefone:  </span>{{c.phone}}</p>
            <p class="card-text"><span class="font-details">E-mail:  </span>{{c.email}}</p>
        

            <div class="d-flex align-items-end flex-column ">
                <div class="p-2 bd-highlight img-card mt-3">
                    <img  src="https://i.imgur.com/4wfJ8gY.png" 
                    alt="editar" height="50rem">
                </div>
                <div class="d-flex align-items-end flex-column img-card2 ">
                    <div class="p-2 bd-highlight img-card">
                        <img  src="https://i.imgur.com/IvhtxaO.png" 
                        alt="excluir" height="50rem">
                    </div>
              </div>
        </div>
    </div>


